## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

# Access keys
flows-app-*-key.json
src/africas-talking-options.json

# Firebase deployment auto-gened files
lib/

# Hacky type-sharing with the main react app
src/sharedtypes.ts