service cloud.firestore {
  match /databases/{database}/documents {
    match /actively_viewed_tasks/{docId} {
      allow read, write: if true
    }
    match /auditor_todo/{docId} {
      allow read, write: if request.auth.token.roles.hasAny(['Auditor'])
    }
    match /payor_task/{docId} {
      allow write: if request.auth.token.roles.hasAny(['Auditor', 'Operator'])
      allow read, write: if request.auth.token.roles.hasAny(['Payor'])
    }
    match /payment_complete_task/{docId} {
      allow write: if request.auth.token.roles.hasAny(['Payor'])
      allow read: if request.auth.token.roles.hasAny(['Auditor', 'Payor'])
    }
    match /operator_task/{docId} {
      allow write: if request.auth.token.roles.hasAny(['Auditor', 'Payor'])
      allow read, write: if request.auth.token.roles.hasAny(['Operator'])
    }
    match /rejected_task/{docId} {
      allow read, write: if request.auth.token.roles.hasAny(['Auditor', 'Operator'])
    }
    match /metadata/remoteConfig {
      allow read: if true;
    }
  }
}
