body {
  margin: 0px;
}

.mainchrome_page {
  padding: 8px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.mainchrome_content {
  width: 100%;
  min-height: 0px;
  display: flex;
  flex-grow: 1;
}
