* {
  font-family: Helvetica, Arial, sans-serif;
}

.mainview_container {
  margin: 16px;
}

.mainview_content {
  display: flex;
  width: 100%;
}

.mainview_tasklist {
  width: 25vw;
  display: flex;
  flex-direction: column;
}

.mainview_button_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mainview_spaced_row {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.mainview_button_disabled {
  background-color: #cccccc;
}

.mainview_search_container {
  padding: 7px;
  background-color: #888888;
}

.mainview_clear_search_button {
  width: 100px;
  height: 20px;
}

.mainview_details {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.mainview_actions_so_far_header {
  margin-top: 12px;
  margin: 5px;
  font-weight: bold;
}

.mainview_loading_fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
}
