.mainview_container {
  margin: 16px;
}

.mainview_tasklist {
  width: 250px;
}

.mainview_task_preview {
  border: 1px solid #888888;
  border-top: 0;
  padding: 10px;
}

.mainview_task_preview.selected {
  background-color: #cccccc;
}

.mainview_preview_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 4px;
}

.mainview_button_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
