* {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  font-size: var(--body-size);
}

button:focus {
  outline: 0;
}

button:active {
  background-color: white;
}

.mainview_admin_panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mainview_approve_button {
  background-color: var(--primary-color-light);
  color: white;
}

.mainview_decline_button {
  background-color: var(--primary-color-grey);
  color: white;
}

.mainview_neutral_button {
  background-color: white;
  color: var(--primary-color-dark);
  border: 1px solid var(--primary-color-dark);
}

.mainview_show_more_button {
  color: var(--primary-color-dark);
  background-color: white;
  border: none;
}

.mainview_bold {
  font-weight: bold;
}

.mainview_container {
  margin: 16px;
}

.mainview_content {
  display: flex;
  width: 100%;
}

.mainview_padded_row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mainview_tasklist {
  min-width: 25vw;
  display: flex;
  flex-direction: column;
}

.mainview_button_row {
  display: flex;
  flex-direction: row;
}

.mainview_spaced_row {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.mainview_checkbox {
  margin-right: 5px;
}

.mainview_button_disabled {
  background-color: #cccccc;
}

.mainview_search_container {
  padding: 7px;
  border-bottom: 1px solid var(--border-color);
  min-width: 25vw;
}

.mainview_clear_search_button {
  border: none;
  color: var(--primary-color-light);
  min-width: 150px;
  height: 20px;
}

.mainview_search_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
}

.mainview_search_input {
  display: flex;
  flex: 1;
  height: 18px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 3px;
  max-width: 300px;
  margin: 10px;
}

.mainview_hide_search {
  display: none;
}

.mainview_date_picker {
  width: 215px;
  padding-left: 10px;
}

.mainview_details {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.mainview_details_text {
  margin: 10px;
}

.mainview_instructions_header {
  margin: 10px;
  font-weight: bold;
}

.mainview_actions_so_far_header {
  color: var(--primary-color-dark);
  margin-top: 12px;
  margin: 10px;
  font-weight: bold;
}

.mainview_loading_fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
}

.mainview_text_primary {
  color: var(--primary-color-light);
  font-weight: bold;
}

.mainview_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainview_button {
  color: var(--primary-color-dark);
  border: 1px solid var(--primary-color-dark);
  background-color: white;
}

.mainview_header_text {
  color: var(--primary-color-dark);
}

.mainview_padded {
  padding: 10px;
}

.react-tabs__tab {
  border: none;
}

.ReactTable {
  border: none;
}

.react-tabs__tab--selected {
  border-bottom: 5px solid var(--primary-color-light);
  color: var(--primary-color-dark);
}

.ReactTable .rt-thead .rt-resizable-header-content {
  text-align: left;
  color: var(--primary-color-grey);
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -3px 0 0 var(--primary-color-dark);
}

.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 3px 0 0 var(--primary-color-dark);
}

.mainview_instructions_edit {
  margin: 10px;
  width: 250px;
  height: 100px;
}
