.button_container {
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 25px;
  width: 150px;
  padding: 10px;
  justify-content: center;
  margin: 5px;
}

.button_container.enabled:hover {
  cursor: pointer;
}

.button_container.enabled:active {
  background-color: grey;
  color: white;
}

.button_container.disabled:hover {
  cursor: wait;
}
