.button_container {
  border-radius: var(--border-radius);
  min-height: 30px;
  line-height: 0px;
  min-width: 150px;
  margin: 7px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container:enabled:hover {
  cursor: pointer;
}

.button_container:enabled:active {
  background-color: var(--border-color);
}

.button_container:disabled {
  background-color: grey;
}

.button_container:disabled:hover {
  cursor: wait;
}

.button_image_label {
  margin-right: 5px;
  height: 15px;
}

.button_label_text {
  color: white;
  font-size: 16px;
}
