.button_container {
  border: 1px solid black;
  height: 25px;
  line-height: 0px;
  width: 150px;
  margin: 5px;
  padding: 10px;
}

.button_container:enabled:hover {
  cursor: pointer;
}

.button_container:enabled:active {
  background-color: grey;
  color: white;
}

.button_container:disabled {
  background-color: grey;
}

.button_container:disabled:hover {
  cursor: wait;
}
