.changehistory_checkbox_row {
  background-color: #888888;

  margin: 5px 0px;

  padding: 5px;
}

.changehistory_checkbox_search {
  width: 50%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}
