.claimnotes_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.claimnotes_textarea {
  border: 1px solid var(--border-color);
}

.claimnotes_button {
  color: var(--primary-color-dark);
  border: 1px solid var(--primary-color-dark);
  background-color: white;
}

.claimnotes_note {
  margin: 5px;
  border-top: 1px solid lightgray;
}

.claimnotes_note:first-child {
  border-top: none;
}

.claimnotes_wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}

.claimnotes_link {
  align-self: flex-end;
  padding: 10px;
}
