.claimnotes_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.claimnotes_textarea {
  border: 1px solid var(--border-color);
}

.claimnotes_button {
  color: var(--primary-color-dark);
  border: 1px solid var(--primary-color-dark);
  background-color: white;
}
