.dropdown_container {
  position: relative;
  padding: 5px;
}

.dropdown_content {
  position: absolute;
  right: 0;
  top: 30px;
  width: 150px;
  z-index: 5;
}

.dropdown_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 70px;
  min-height: 20px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.dropdown_item:hover {
  color: white;
  background-color: #888888;
}
