.imagerow_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5px;
}

.imagerow_item {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 20%;
}

.imagerow_label {
  text-align: center;
  margin: 5px;
  width: 100%;
}
