.labelwrapper_container {
  margin: 5px;
  border: 1px solid black;
}

.labelwrapper_header {
  background-color: #888888;
  color: #ffffff;
  font-weight: bold;
  font-size: small;
  text-align: center;
  height: 24px;
  line-height: 24px;
}
