.labelwrapper_container {
  margin: 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.labelwrapper_header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 24px;
}

.labelwrapper_label {
  padding: 10px;
}

.labelwrapper_inner {
  flex-grow: 1;
  overflow-y: scroll;
}

.labelwrapper_header_icon {
  cursor: pointer;
  padding: 10px;
}

.labelwrapper_collapser {
  background-color: var(--primary-color-light);
  font-size: var(--body-size);
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 2px;
}

.labelwrapper_collapser_arrow {
  font-size: larger;
  padding-left: 10px;
  padding-right: 5px;
}
