.listitem {
  border: 1px solid #888888;
  border-top: 0;
  padding: 10px;
  cursor: pointer;
}

.listitem:hover {
  background-color: #888888;
}

.listitem.selected {
  background-color: #cccccc;
}

.listitem_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 4px;
}
