.tasklist_header {
  background-color: #888888;
  color: #ffffff;
  font-weight: bold;
  font-size: small;
  text-align: center;
  height: 24px;
  line-height: 24px;
}

.tasklist_active {
  outline-color: orange;
  outline-style: solid;
  outline-width: 4px;
}

.tasklist_search_panel {
  height: 150px;
  position: sticky;
  top: 0px;
  width: 25vw;
}
