.topbar_arrow {
  margin-left: 5px;
}

.topbar_details {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: right;
  margin-right: 10px;
}

.topbar_divider {
  border-right: 1px solid var(--text-color);
  height: 20px;
  margin: 0px 7px;
}

.topbar_input {
  width: 100px;
}

.topbar_item {
  color: var(--primary-color-dark);
}

.topbar_logo {
  margin-left: 20px;
  height: 40px;
}

.topbar_main {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.topbar_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px;
}

.topbar_upload_icon {
  height: 18px;
  width: 28px;
  margin-right: 5px;
}

.topbar_pointer {
  cursor: pointer;
}

.topbar_logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary-color-dark);
}
